html {font-family:"微软雅黑",sans-serif;}
body { font-family:"微软雅黑",sans-serif; padding-top: 50px;}

.navbar-brand { font-size: 24px;}
.m-text-bold { font-weight: bold;}

.navbar-form input{ margin-right: 5px; height: 38px; padding: 8px 13px;}
.navbar-form button { margin-right: 5px; height: 38px; line-height: 1.0;}


#m-input-search-div { width: 100%;}
#inputSearch { width: 100%;}
.m-serach-row div { padding-left: 5px; padding-right: 5px;}
.m-serach-row .m-search-row-btn { margin-left: 5px;}

.radio {margin-right: 8px;}

.col-lg-4 .badge {background-color: #18BC9C; margin-left: 2px;}

#bannerSearch { margin-top: 42px; margin-bottom: 30px;}
.list-search-div { margin-top: 4px;}
.list-group-info { margin-bottom: 0px; line-height: 32px; font-size: 13px; color: #888888; font-family:"宋体"; margin-bottom: 4px;}

.list-group em { font-style: normal; color: #CC0200;}
.pagination { margin-top: 0px;}
.m-s-nums { margin-bottom: 6px; color:#888888;}

.m-path { font-size: 12px; font-family: "宋体"; color: #888888;}

h3 img {vertical-align: top;}
h3 .btn-sm {margin-left: 12px;}
.m-lg-title {margin-bottom: 5px;}

.reader-div { height: 680px; margin: auto; position: relative; background: none repeat scroll 0 0 #F6F9F8; line-height: 2em; font-size: 14px; z-index: 1;}
.m-up { margin-top: 36px;}
.m-cp { margin-top: 20px;}
.m-pd-lg { padding: 0 6px 4px 6px;}

img.media-object { border: #eeeeee solid 1px; padding: 3px 3px 3px 3px;}

.m-nav-face img{ margin-top: 4px;}
.m-up-ts { font-size: 14px; line-height: 24px;}
.m-up-ts br { margin-bottom: 4px;}

tr select { color: #000;}
tr select option { color: #000;}

h4.m-h { margin-top: 0px;}