html {font-family:"微软雅黑",sans-serif;}
body { font-family:"微软雅黑",sans-serif; padding-top: 50px;}
* { font-family:"微软雅黑",sans-serif; }
.navbar-brand { font-size: 24px;}
.m-text-bold { font-weight: bold;}

.navbar-form input{ margin-right: 5px; height: 38px; padding: 8px 13px;}
.navbar-form button { margin-right: 5px; height: 38px; line-height: 1.0;}


#m-input-search-div { width: 100%;}
#inputSearch { width: 100%;}
.m-serach-row div { padding-left: 5px; padding-right: 5px;}
.m-serach-row .m-search-row-btn { margin-left: 5px;}

.radio {margin-right: 8px;}

.col-lg-4 .badge {background-color: #18BC9C; margin-left: 2px;}

#bannerSearch { margin-top: 42px; margin-bottom: 30px;}
.list-search-div { margin-top: 4px;}
.list-group-info { margin-bottom: 0px; line-height: 32px; font-size: 13px; color: #888888; font-family:"宋体"; margin-bottom: 4px;}

.list-group em { font-style: normal; color: #CC0200;}
.pagination { margin-top: 0px;}
.m-s-nums { margin-bottom: 6px; color:#888888;}

.m-path { font-size: 12px; font-family: "宋体"; color: #888888;}

h3 img {vertical-align: top;}
h3 .btn-sm {margin-left: 12px;}
.m-lg-title {margin-bottom: 5px;}

.reader-div { height: 680px; margin: auto; position: relative; background: none repeat scroll 0 0 #F6F9F8; line-height: 2em; font-size: 14px; z-index: 1;}
.m-up { margin-top: 36px;}
.m-cp { margin-top: 20px;}
.m-pd-lg { padding: 0 6px 4px 6px;}



.m-nav-face img{ margin-top: 4px;}
.m-up-ts { font-size: 14px; line-height: 24px;}
.m-up-ts br { margin-bottom: 4px;}

tr select { color: #000;}
tr select option { color: #000;}

h4.m-h { margin-top: 0px;}
.list-group-item-text {font-size: 14px;}
.m-v-intro {font-size: 14px;}


.m-ul-div { margin-top: 5px;}

/***从bootstrap复制过来覆盖的**/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2fa4e7;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #157ab5;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #999999;
  background-color: #f5f5f5;
  border-color: #dddddd;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 14px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

table a, .table a {
  text-decoration: none;
}

table a:hover, .table a:hover{
  text-decoration: underline;
}

#downModal p { font-size: 18px;  color: #555555; margin-bottom: 4px;}
#downModal p button { margin-top: 5px; width: 180px;}